html,body { height: 100%; margin: 0px; padding: 0px; }

h4,h6 {display:inline;}

#app {
    height: 100%;
    background-image: url('../images/background.jpeg');
}

.panel .panel-default {
    border: 0px;
}